[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
django-cors-headers = "*"
firebase = "*"
setuptools = "*"
pyrebase4 = "*"
google-cloud-storage = "*"
firebase-admin = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
